@import "./variables.scss";
@import "./breakpoints.scss";
@import "./button.scss";
@import "./link.scss";

/* wellfleet-regular - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Wellfleet";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/wellfleet-v22-latin_latin-ext-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  font-size: 17px;
  margin: 0;
  font-family: "Wellfleet";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: $color-primary;
  color: $font-color;
  position: relative;

  @include lg {
    font-size: 19px;
  }
}

.container {
  padding: 0 15px;
  padding-bottom: 20px;
  @include sm {
    padding: 0 20px;
  }
  @include lg {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
  }
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  margin-top: 40px;
}

a {
  &:hover {
    text-decoration: underline;
  }
}

.page-footer {
  background-image: url("../images/bg_prague.png");
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 795px;
  filter: blur(3px);
  z-index: -10;
}

.title {
  font-size: 45px;

  & a {
    color: $font-color;
    text-decoration: none;

    &:active {
      color: $font-color;
    }
  }
}

.text-center {
  text-align: center;
}

#pravidla {
  @include lg {
    padding-bottom: 300px;
  }
}

.rotateY-180 {
  transform: rotateY(180deg);
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.text-italic {
  font-style: italic;
}

.text-small {
  font-size: 15px;
}

.mb-2 {
  margin-bottom: 2rem;
}
