.players-row {
  display: flex;
  justify-content: space-around;
}

.players-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  &.is-inactive {
    opacity: 0.5;
  }
}

.players-input {
  margin-bottom: 10px;
}

.head {
  width: 50px;
}

.head-container--multi {
  display: flex;
}
